@import "../../styles/Mixins.scss";

.container {
  &__hero {
    height: 100vh;
    @include flexColumnCenter;
    h1 {
      text-align: center;
      font-size: 2.5em;
    }
  }

  &__button {
    // margin: 2rem;
    @include buttonStyle;
  }
  &__button:hover {
    @include buttonStylehover;
  }
}
