@import "./Variables.scss";

@mixin flexColumnWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin buttonHero {
  width: 155px;
  height: 45px;
  margin: 2rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: inset 250px 0 0 0 $white;
  color: $darkViolet;
  transition: all 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}
@mixin buttonHeroHover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  opacity: 1;
  color: $lightViolet;
}

@mixin styleLink {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 $darkViolet;
  color: $lightViolet;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

@mixin styleLinkHover {
  text-decoration: none;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: inset 250px 0 0 0 $darkViolet;
  color: $white;
}

@mixin formInputStyle {
  padding: 0.63334rem;
  padding-right: 0.27778rem;
  border: solid 2px $black;
  border-radius: 3px;
  width: 270px;
  @media all and (min-width: 768px) {
    width: 500px;
  }
  @media all and (min-width: 1200px) {
    width: 700px;
  }
}
