//color
$orange: #ffbf00;
$paleOrange: hsl(25, 100%, 94%);
$darkBlue: hsl(220, 13%, 13%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayish: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: #241023;
$offwhite: darken(white, 10%);
$darkblue: rgb(50, 50, 60);
$lightViolet: #b7569a;
$darkViolet: #883c82;
