//color
$orange: #ffbf00;
$darkBlue: hsl(220, 13%, 13%);
$white: hsl(0, 0%, 100%);
$black: #241023;
$offwhite: darken(white, 10%);
$darkblue: rgb(50, 50, 60);
$lightViolet: #b7569a;
$darkViolet: #883c82;
