@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.contact {
  @include flexColumnCenter;
  height: 100vh;
  color: $white;
  @media all and (min-width: 768px) {
  }

  &__title {
    color: $lightViolet;
    font-size: 2em;
    text-decoration: underline;
  }
  &__description {
    text-align: center;
    color: $white;
    margin: 2rem;
  }
  &__form {
    @include flexColumnCenter;
    margin: 0.5rem 0;
    color: $white;

    &--title {
      padding: 0.3rem 0;
    }

    &--style {
      @include formInputStyle;
    }
    &--text {
      @include formInputStyle;
    }
  }
  &__submit {
    @include buttonHero;
  }
  &__submit:hover {
    background-color: $black;
    color: $darkblue;
    cursor: pointer;
  }
}
