@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.main {
  @include flexColumnCenter;
  background-color: $lightViolet;
  color: $offwhite;
  &__title {
    padding: 4rem 1rem;
    font-size: 2em;
  }

  &__aboutSection {
    @include flexColumnCenter;
    justify-content: center;
    flex-wrap: wrap;

    &--img {
      border-radius: 50%;
      border: 3px dotted $black;
      margin-bottom: 20px;
    }

    &--title {
      margin-bottom: 10px;
      @media all and (min-width: 768px) {
      }
    }

    &--description {
      padding: 1.9rem 1.5rem;
      line-height: 25px;
      @media all and (min-width: 768px) {
        max-width: 80%;
        padding: 3rem;
      }
    }
    &--card {
      @include flexRowCenter;
      padding-bottom: 3rem;
    }
  }
}
